<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="~{fragments/navbar}"></div>

<main class="container my-5">
    <h1 class="text-center mb-4">Registro de Habitaciones</h1>
    <form id="habitacion-form" th:action="@{/habitaciones}" th:object="${habitacion}" method="post" enctype="multipart/form-data" class="shadow-sm p-4 rounded bg-light">
        <div class="mb-3">
            <label for="numero" class="form-label">Número</label>
            <input type="text" id="numero" th:field="*{numero}" class="form-control" placeholder="Ingrese el número de la habitación">
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" th:field="*{nombre}" class="form-control" placeholder="Ingrese el nombre de la habitación">
        </div>
        <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <select id="tipo" th:field="*{tipo}" class="form-select">
                <option value="" disabled>Seleccione un tipo</option>
                <option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" id="precio" th:field="*{precio}" class="form-control" placeholder="Ingrese el precio">
        </div>
        <div class="mb-3">
            <label for="estado" class="form-label">Estado</label>
            <select id="estado" th:field="*{estado}" class="form-select">
                <option value="" disabled>Seleccione un estado</option>
                <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="imagenPrincipal" class="form-label">Imagen Principal</label>
            <input type="file" id="imagenPrincipal" th:field="*{imagenPrincipal}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary w-100">Guardar</button>
    </form>
</main>

<div th:replace="~{fragments/footer}"></div>
</body>
</html>