<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="~{fragments/navbar}"></div>

<main class="container my-5 text-center">
    <h1>Bienvenido a Hotel Management</h1>
    <p class="lead">Gestione habitaciones y servicios de forma eficiente y rápida.</p>
    <a href="#" th:href="@{/habitaciones/form}" class="btn btn-primary btn-lg mt-3">Registrar Nueva Habitación</a>
</main>

<div th:replace="~{fragments/footer}"></div>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>